@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-stranger-black text-gray-200 font-sans overflow-x-hidden;
        cursor: none;
    }

    * {
        cursor: none;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-stranger-black;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-stranger-red/50 rounded;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-stranger-red;
    }
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 5px rgba(255, 0, 51, 0.7), 0 0 10px rgba(255, 0, 51, 0.5);
    }

    .crt-overlay {
        background: linear-gradient(rgba(18, 16, 16, 0) 50%,
                rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg,
                rgba(255, 0, 0, 0.06),
                rgba(0, 255, 0, 0.02),
                rgba(0, 0, 255, 0.06));
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }

    .scanline {
        width: 100%;
        height: 100px;
        z-index: 10;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.1;
        position: absolute;
        bottom: 100%;
        animation: scanline 10s linear infinite;
        pointer-events: none;
    }

    @keyframes scanline {
        0% {
            bottom: 100%;
        }

        80% {
            bottom: 100%;
        }

        100% {
            bottom: -100px;
        }
    }
}